body {
  margin: 160px;
}

canvas {
  background-image:url(https://terraria.wiki.gg/images/d/d5/Cavern_background_7.png)

}

img {
  display: none;
}



//theme = "You’re playing minecraft in a cave looking for diamonds, that’s funny, I’m in the same cave looking for minors"
