body {
  margin: 160px;
}

canvas {
  background-image:url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/minecraftpattern-03-091815-742_thumb.jpg)

}

img {
  display: none;
}



//theme = "You’re playing minecraft in a cave looking for diamonds, that’s funny, I’m in the same cave looking for minors"
//the  platforms are brown like wood from minecraft