body {
    background: url(https://wallpapers.com/images/featured/funny-9ngi51dd49q4q24i.jpg) no-repeat center center fixed;
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}