
body {
  background-color: rgb(76, 39, 100);
}

#board {
  width: 100%;
  height: 440px;
  border: 1px solid rgb(169, 1, 211);
  background-color: black;
  position: relative;
}


.paddle{
  width: 15px;
  height: 100px;
  position: absolute;
  border-radius: 15px;
}

#paddleLeft{
  background-color: rgb(194, 46, 46);
  left: 3%;   /*Uncomment if you want to set a "starting" position*/ 
   top: 150px;    /* Uncomment if you want to set a "starting" position*/ 
}

#paddleRight{
  background-color: rgb(28, 184, 61);
  left: 95%;   /*Uncomment if you want to set a "starting" position*/ 
   top: 150px;    /* Uncomment if you want to set a "starting" position*/ 
}

#ball {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 180px;
}

.score{
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 180px;
  font-family: times New Roman;
}

#leftScore {
  color: rgb(53, 236, 33);
  left: 70%;
  top: 500px;
}
#rightScore {
  color: rgb(194, 46, 46);
  left: 30%;
  top: 500px;
}

#againButton{
  text-align: center;
  font-size: 20px;
  background-color: rgb(76, 39, 100);
  color:rgb(144, 180, 60);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  padding: 20px;
  border: ridge;
  border-color: rgb(151, 33, 126);
  border-radius: 5px;;
}

.win{
  position: relative;
}

#leftWin{
  width: 400px;
  height: 400px;
  top: 400px;
  left: 5%;
}

#rightWin{
  width: 400px;
  height: 500px;
  top: 400px;
  left: 50%;
}

#blocker1{
  background-color: rgb(71, 112, 119);
  left: 75%;   
   top: 80%;    /* Uncomment if you want to set a "starting" position*/ 
   width: 15px;
  height: 70px;
  position: absolute;
  border-radius: 15px;
}

#blocker2{
  background-color: rgb(71, 112, 119);
  left: 25%;   
   top: 1%;    /* Uncomment if you want to set a "starting" position*/ 
   width: 15px;
  height: 70px;
  position: absolute;
  border-radius: 15px;
}


